<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Evaluación</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="style">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F83120894586667" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F83120894586667" title="oEmbed Form">
<meta property="og:title" content="File Upload Form">
<meta property="og:url" content="https://form.jotformz.com/83120894586667">
<meta property="og:description" content="Please click the link to complete this form.">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotformz.com/83120894586667">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="HandheldFriendly" content="true">
<title>File Upload Form</title>
<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.8412" rel="stylesheet" type="text/css">
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.8412">
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.8412">
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=59fb4852cf3bfe589c6c6f21">
<style type="text/css">
    .form-label-left{
        width:150px;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px;
    }
    body, html{
        margin:0;
        padding:0;
        background:#fff;
    }

    .form-all{
        margin:0px auto;
        padding-top:0px;
        width:590px;
        color:#555 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:14px;
    }
    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
        color: false;
    }

</style>



<link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="../index3.html" class="nav-link">Home</a>
      </li>

    </ul>



  </nav>
  <!-- /.navbar -->


   <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../index3.html" class="brand-link">
      <img src="dist/img/AdminLTELogo.png"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Profesor guía</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Usuario</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Inicio
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>

                    </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Usuario
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>
                    </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Comisión
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>
                    </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Equipo
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>
           </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Evaluación
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>

           </li>
          



        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

<div class="content-wrapper ">

 <form action="/evaluacion"  method="post">



<div class="form-all">
    <ul class="form-section page-section">
      <li id="cid_3" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_3" class="form-header" data-component="header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Evaluación nº x
            </font></font></h2>
          </div>
        </div>
      </li>




      <li class="form-line" data-type="control_textarea" id="id_7">
        <label class="form-label form-label-left form-label-auto" id="label_7" for="input_7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Detalles de evaluación:
           </font></font><span class="form-required"><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
            *
          </font>
        </font></span><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          
        </font></font></label>
        <div id="cid_7" class="form-input">
        <textarea id="input_7" class="form-textarea" name="comentarios" cols="32" rows="6" data-component="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 300px;"></textarea>
        </div>
    </li>

        <li class="form-line " data-type="control_textbox" id="id_5">
        <label class="form-label form-label-left form-label-auto" id="label_5" for="input_5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nota:</font></font>
        </font></font><span class="form-required"><font style="vertical-align: inherit;">*
        </font></span>
        </label>
              
              <input type="number" name="nota" min="0" max="7" value="" />


      </li>



       <li class="form-line jf-required" data-type="control_fileupload" id="id_8">
        <label class="form-label form-label-left" id="label_8" for="input_8"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Fecha
        </font></font><span class="form-required"><font style="vertical-align: inherit;">
        </font></span>
        </label>
        

                <p id="demo"></p>

                <script>
                var d = new Date();
                document.getElementById("demo").innerHTML = d;
                </script>



               </li>






      <li class="form-line" data-type="control_button" id="id_9">
        <div id="cid_9" class="form-input-wide">
          <div style="text-align:center" class="form-buttons-wrapper">
            <button id="input_9" type="submit" class="form-submit-button form-submit-button-light" data-component="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Enviar
            </font></font></button>
          </div>
        </div>
      </li>




    </ul>
  </div>

 </form>

 <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <script href="plugins/jquery/jquery.min.js"></script>
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <script href="plugins/jquery/jquery.min.js"></script>



