<h2>hola formulario</h2>
<form action="#" method="POST">
    <input type="text" placeholder="usuario o correo" name="correo" >
    <input type="password" placeholder="ingresa la clave" name="clave" >
    <button>enviar</button>

    <% if(user !== null){ %>
        <br>
        <br>
        <%=user.correo %>  
        <br>         
        <%=user.clave %>           
        
      <% } %>
      <% if(error !== null){ %>
        <br>
        <br>
        <%=error %>  
        
        
      <% } %>
</form>