<form action="/mandar" method="post">
    <input type="text" name="cuando" placeholder="Cuando">
    <input type="text" name="para" placeholder="para quien">
    <input type="text" name="subject" placeholder="Subject">
    <input type="text" name="mensaje" placeholder="mensaje">
    <input type="submit" value="Enviar">
</form>
<% if(resultado !== null){ %>

    <script>alert("<%= resultado %>");</script>
    
  <% } %>