<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="style">


<link rel="stylesheet" href="https://cdn.sharelatex.com/stylesheets/ol-style.7fbaedc0ed7ac11a1cad13f50d81965f.css" id="main-stylesheet">




</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="../index3.html" class="nav-link">Home</a>
      </li>

    </ul>



  </nav>
  <!-- /.navbar -->


   <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../index3.html" class="brand-link">
      <img src="../dist/img/AdminLTELogo.png"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Alumno</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Usuario</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Inicio
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>

                    </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Usuario
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>
           </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Comisión
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>
                    </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p>
                Equipo
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>







        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

<div class="content-wrapper">

  <div class="container"><div class="row"><div class="col-md-6"><div class="row"><div class="col-md-12"><h1 class="template-title"><%=tesis.titulo%></h1></div></div><div class="row cta-links">
    <div class="col-md-12">






      <a class="btn btn-success cta-link" href="https://v1.overleaf.com/latex/templates/plantilla-tesis-itam/nzvvkqxkjvqb.pdf">Download PDF</a></div></div><div class="row row-spaced"><div class="col-md-3 field-title">Autor</div><div class="col-md-9">tesis autor //=tesis.autor</div></div><div class="row"><div class="col-md-3 field-title">Visitas</div><div class="col-md-9">35556</div></div><mathjax><div class="row"><div class="col-md-3 field-title">Descripcion</div><div class="col-md-9 abstract"><%=tesis.descripcion%></div></div></mathjax><div class="row"><div class="col-sm-12"></div></div></div><div class="col-md-6"><div class="entry"><div class="row"><div class="col-md-12"><div class="template-large-pdf-preview"><img src="https://88df6ea0630aed8027ff-0caf779119a6537399728d4d80523795.ssl.cf5.rackcdn.com/nzvvkqxkjvqb/page/9f604557f190be38ad29412e921f5c2624b5a83d.jpeg" alt="Plantilla Tesis ITAM"></div></div></div></div></div></div><!-- TODO: Fully-featured Previous Versions section--></div>


</div>

 <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="../plugins/iCheck/square/blue.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <script href="../plugins/jquery/jquery.min.js"></script>
  <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
  <script href="../plugins/jquery/jquery.min.js"></script>

  <script type="text/ng-template" id="viewInV1ModalTemplate"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" ng-click="$dismiss('cancel')">&times;</button><h3>Open Template</h3></div><div class="modal-body"><p>Projects created from this template have extra features that are specific to the template, which are currently only in Overleaf v1. We are working to bring these features to Overleaf v2. You can open the template in Overleaf v1 or Overleaf v2.<div class="row text-center cta-links"><a class="btn btn-success cta-link" href="https://v1.overleaf.com/latex/templates/nzvvkqxkjvqb/clone">Open in v1</a><a class="btn btn-info cta-link" href="https://www.overleaf.com/project/new/template/925?id=1327309&amp;mainFile=main.tex&amp;templateName=Plantilla+Tesis+ITAM">Try it in v2</a></div></p></div><div class="modal-footer"><button class="btn btn-default" ng-click="$dismiss('cancel')">Close</button></div></script>
